extends layout

block content
  if (user)
    h1 Welcome back #{user.username}!
    a(href='/signout') Sign Out
  else
    h1 Welcome!
    h3 Sign in to contribute to the forum
    a(href='/signin') Sign In
    h1 New here?
    a(href='/register') Register

