extends layout

block content
  h1 Register!
  form(action='/register' method='POST')
    label(for='username') Username
    input(name='username' placeholder='username' type='text')
    label(for='email') Email
    input(name='email' placeholder='email' type='email')
    label(for='password') Password
    input(name='password' type='password')
    label(for='confirmpassword') Confirm Password
    input(name='confirmpassword' type='password')
    button Register
  
  if errors
    ul
      for error in errors
        li!= error