body {
  height: 100vh;
}

.main-title {
  color:white !important;
  font-size: 2rem;
  font-weight: 400;
}

.main-title:hover {
  color:#e2e8f0 !important;
  text-decoration: none;
}

.gap-dot2rem {
  gap:.2rem;
}

.gap-1rem {
  gap:1rem;
}

.lb-font {
  font-size: 1.5rem;
  font-weight: bold;
}

.comment-info-font {
  font-weight: bold;
}

.forum-container-width {
  width: 60vw;
}

@media (max-width:600px) {
  .phonedisplay {
    flex-direction: column !important;
    gap:.2rem;
    text-align: center;
  }
  html {
    font-size: 12px;
  }
}

